<link rel="stylesheet" >

<app-header></app-header>
<div class="container">
  <h1>Nous Contacter</h1>
  <p>Prenez contact avec KOUL</p>
  <h2>Coordonnées</h2>
  <p>Si vous avez des questions ou avez besoin d'informations supplémentaires, n'hésitez pas à nous contacter :</p>
  <address>
    <strong>KOUL</strong><br>
    123 OUED EL KHATF<br>
    Nabeul, Tunisie<br>
    Téléphone : +216 51922108<br>
    Email : info@koul-tunisia.com<br>
  </address>
  <h2>Formulaire de Contact</h2>
  <p>Vous pouvez également nous envoyer un message en utilisant le formulaire de contact ci-dessous :</p>
  

  

  <form [formGroup]="clientForm" >
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control"  formControlName="email" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais votre adresse e-mail avec quelqu'un d'autre.</small>
    </div>
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
      </div>
      <div class="col">
        <input type="text" class="form-control" formControlName="Name" placeholder="Last Name">
      </div>
      <div class="col">
        <textarea class="form-control" formControlName="message" placeholder="Message"></textarea>
      </div>
    </div>
    <div class="col">
      <input type="phone" class="form-control" formControlName="phone" placeholder="Phone number">
    </div>
    <button type="submit" class="btn btn-dark" [disabled]="!clientForm.valid">Submit</button>
    
  </form>
</div>

<app-footer></app-footer>