<header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <div class="container">
      <a class="navbar-brand" href="#">KOUL</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/Home">Acceuil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/About">A popos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Contact">Contact</a>
          </li>
         
          
        </ul>
      </div>
      
    
      <div *ngIf="!abc" class="ml-auto"> 
        <button class="btn"  routerLink="/Login">Connecter</button>
      </div>
      <div *ngIf="abc" class="ml-auto"> 
        <button class="btn"  (click)="deconnecter()">Deconnecter</button>
        <button class="btn" routerLink="/Panier"><i class="fas fa-shopping-cart"></i>Panier<span class="badge">{{ panierCount }}</span> </button>
      </div>
   
    </div>

  </nav>
  
</header>
