<app-header></app-header>
<div class="container">
    <main>
        <section>
            <h2>Ce que Nous Faisons</h2>
            <p>Bienvenue sur notre application de livraison de repas ! Nous nous engageons à rendre votre expérience culinaire plus pratique et agréable. Notre application vous permet d'explorer une variété de plats délicieux de notre restaurant, de passer des commandes et de faire livrer vos plats préférés à votre porte.</p>
        </section>
    
        <section>
            <h2>Fonctionnalités Clés</h2>
            <ul>
                <li>Découvrez une gamme variée de cuisines en un seul endroit.</li>
                <li>Parcourez facilement les menus et trouvez vos plats préférés.</li>
                <li>Effectuez des commandes en quelques clics seulement.</li>
                <li>Profitez de livraisons rapides.</li>
            </ul>
        </section>
    </main>
    
    <footer>
        <p>Contactez-nous à : support@koulapp.com</p>
    </footer>
    
</div>
<app-footer></app-footer>