<app-header></app-header>
<div class="container">

<h1>Our Services</h1>
<p>Discover the Range of Services Offered by Bayene </p>
<h2>Customs Clearance</h2>
<p>
    We provide expert customs clearance services to ensure the smooth and hassle-free import and export of your goods. Our experienced team handles all documentation and compliance requirements.
</p>

<h2>Freight Forwarding</h2>
<p>
    Our freight forwarding services are designed to optimize your supply chain. We offer efficient and cost-effective transportation solutions to move your cargo globally.
</p>

<h2>Warehousing and Distribution</h2>
<p>
    Bayene offers secure warehousing facilities for your storage needs. We also provide distribution services to deliver your products to their destinations efficiently.
</p>

<h2>Transportation</h2>
<p>
    We have a fleet of modern vehicles to handle transportation needs within Tunisia. Whether it's road, rail, or sea transportation, we ensure the safe and timely delivery of your goods.
</p>

<h2>Supply Chain Management</h2>
<p>
    Our comprehensive supply chain management services help you optimize your operations. We offer end-to-end solutions to streamline your logistics and reduce costs.
</p>

<p>
    Contact us today to learn more about our services and how we can help you with your logistics and transportation needs in Tunisia.
</p>
</div>
<app-footer></app-footer>