<!DOCTYPE html>
<html lang="en">
    <app-header></app-header>
    <main>
        <section class="hero">
           
        </section>
        <div class="text">   <h4>Bienvenue chez koul </h4>
            <br>
            <br>
            <h4></h4>
            </div>

        <br>
        <div class="section-a">
            <button  class="btn" (click)="scrollToServices()"><b><h1>Découvrez nos plats.</h1></b></button>
        </div>
       <br>
       <br>
       <br>
       <br>

        
        <section id="services" class="services">
            <div class="container">
                <h2>Nos Plats</h2>
                <div class="row">
                    <div  class="col-md-4">
                        <div class="service-card">
                            <img src="/assets/plats/makloub.jpg" alt="Service 1">
                            <h3>makloub</h3>
                                <p>un sandwich avec des sauces et d'autre ingredient au choix </p>

                        </div>
                    </div>
                    <div  class="col-md-4">
                        <div class="service-card">
                            <img src="/assets/plats/spaghetti.jpg" alt="Service 2">
                            <h3>spaghetti</h3>
                                <p>un plat du spaghetti au fruit de mere ou avec du viande . </p>

                        </div>
                    </div>
                    <div  class="col-md-4">
                        <div class="service-card">
                            <img src="/assets/plats/pizza.jpg" alt="Service 3">
                            <h3>pizza</h3>
                                <p>une pizza avec taille au choix et ingredient au choix .</p>

                        </div>
                    </div>
                    
                    <div class="section-a">
                        <button  class="btn" (click)="goToPlats()"><b><h1>Voir plus</h1></b></button>
                    </div>
                </div>
            </div>
        </section>
    </main>

</html>
<app-footer></app-footer>